*{
    margin: 0em;
    padding: 0.1em;
    font-family: arial;
}
.header{
        background-color: rgb(64, 101, 133);
        padding:0.01rem 0.01rem;
        justify-content: center;
        align-self: auto;
        text-align: center;
        font-size: large;
        font-style: normal;
}
.ca単ada{
    padding: 1.5em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.navbar ul li{
        font-size: 1em;
        display: inline;
        padding: 0.5em;
        text-align: center;
        float: right;
        bottom: 0.5em;
        cursor: pointer;
        align-self: auto;
        padding-bottom: 1em;
}
a{
    text-decoration: none;
    color: white;
    
}
a:hover {
    color: rgb(238, 238, 238);
}
.redes{
    color: black;
}
.secundario{
    color: rgb(255, 255, 255);
}
.mkt{
    color: white;
}
.publi{
    color: white;
}
.dise{
    color: white;
}
.indonesia:hover, .vertical:hover, .provi:hover{
    color: black;
}
.github:hover{
    color: black;
}
#contenedor{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.primero{
    background-color: rgb(64, 101, 133);
    width: 20%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 1em;
    list-style-type: none;
}
.educacion{
    list-style-type: none;
    padding: 1%;
    text-align: center;
    justify-content: center;
    align-self: auto;
    margin-top: 2em;
}
.edu{
    text-align: center;
    margin-top: 1px;
    font-size: 30px;
}
.segundo{
    background-color: rgb(64, 101, 133);
    width: 20%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 15px;
    list-style-type: none;
}
.experiencia{
    list-style-type: none;
    padding: 1%;
    text-align: center;
    justify-content: center;
    align-self: auto;
    margin-top: 2em;
}
.exp{
    text-align: center;
    margin-top: 1px;
    font-size: 30px;
    list-style-type: none;
}
.tercero{
    background-color: rgb(64, 101, 133);
    width: 20%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 15px;
    list-style-type: none;
}
.gustos{
    list-style-type: none;
    padding: 1%;
    text-align: center;
    justify-content: center;
    align-self: auto;
    margin-top: 2em;
}
.footer{
    margin-top: 4em;
    border-top: 5px solid white;
    padding: 2em 3em;
    background-color: rgb(64, 101, 133);
}
.footer{
    display: flex;
    justify-content: space-between;
}
.data{
    background-color: rgb(138, 140, 243);
    padding: 2em;
    color: black;
    border-radius: 15px;
}
.map{
    width: 60%;
    border-radius: 25px;
}

@media screen and (min-width:1px) and (max-width:659px){
    body{
        width: 100%;
    }
    .header{
        background-color: rgb(60, 78, 56)
    }
    .navbar ul{
        display: flex;
        justify-content: center;
    }

    .ca単ada{
        width: 60%;
    }

    #contenedor {
        width: 100%;
        top: 5em;
    }
    .primero, .segundo, .tercero{
        background-color: rgb(60, 78, 56);
    }
    .edu{
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
    }
    .educacion{
        text-align: center;
        font-size: 16px;
        word-wrap: break-word;
    }
    .experiencia{
        width: 100%;
        text-align: center;
        word-wrap: break-word;
    }
    .exp{
        width: 100%;
        text-align: center;
        font-size:1.2em;
    }
    .gus{
        width: 100%;
        text-align: center;
        font-size: 1.2em;
    }
    .VideoUno{
        width: 100%;
        padding-top:1em;
    }
    .VideoDos{
        width: 100%;
    }
    .VideoTres{
        width: 100%;
    }
    .footer{
        background-color : rgb(60, 78, 56)
    }
    .data{
        width: 50%;
        background-color: rgb(170, 170, 165)
    }
    .mapa{
        width: 100%;
        padding-left: 20px;
        border-radius: 15px;
    }
}
@media (min-width:660px) and (max-width:989px){
    body {
        width: 100%;
    }
    .header{
        background-color: rgb(93, 69, 116)
    }
    .navbar ul{
        display: flex;
        justify-content: center;
    }
    .ca単ada{
        width: 100%;
        align-items: center;
    }
    #contenedor {
        width: 100%
    }
    .primero, .segundo, .tercero{
        background-color:rgb(93, 69, 116)
    }
    .edu, .exp, .gus{
        word-wrap: break-word;
    }
    .edu{
        width: 100%;
        text-align: center
    }
    .educacion{
        text-align: center
    }
    .experiencia{
        width: 100%;
        text-align: center
    }
    .exp{
        width: 100%;
        text-align: center
    }
    .gus{
        width: 100%;
        text-align: center
    }
    .VideoUno{
        width: 100%;
        padding-top:1.5em;
    }
    .VideoDos{
        width: 100%;
    }
    .VideoTres{
        width: 100%;
    }
    .footer{
        background-color:rgb(93, 69, 116)
    }
    .data{
        width: 20%;
        background-color: rgb(100, 100, 100)
    }
    .data{
        word-wrap: break-word;
    }
    .mapa{
        width: 75%;
        border-radius: 15px;
    }
}
@media screen and (min-width:989px) and (max-width:2000px){
    body {
        width: 100%;
    }
    .header{
        background-color: rgb(64, 101, 133)
    }
    .navbar ul{
        display: flex;
        justify-content: center;
    }
    .ca単ada{
        width: 100%;
        align-items: center;
    }
    #contenedor {
        width: 100%
    }
    .primero, .segundo, .tercero{
        background-color:rgb(64, 101, 133)
    }
    .edu, .exp, .gus{
        word-wrap: break-word;
    }
    .edu{
        width: 100%;
        text-align: center
    }
    .educacion{
        text-align: center
    }
    .experiencia{
        width: 100%;
        text-align: center
    }
    .exp{
        width: 100%;
        text-align: center
    }
    .gus{
        width: 100%;
        text-align: center
    }
    .VideoUno{
        width: 100%;
        padding-top:1.5em;
    }
    .VideoDos{
        width: 100%;
    }
    .VideoTres{
        width: 100%;
    }
    .footer{
        background-color:rgb(64, 101, 133)
    }
    .data{
        width: 20%;
        background-color: rgb(100, 100, 100)
    }
    .mapa{
        width: 75%;
        border-radius: 15px;
    }
}